@model Repository.Models.ArduinoData

<div class="temperature">
    <span >Temperature: </span>
    <span class="value">@Model?.Temperature</span>
</div>
<div class="moisture">
    <span >Moisture: </span>
    <span class="value">@Model?.Moisture</span>
</div>
<div class="water">
    <span >Water: </span>
    <span class="value">@Model?.Water</span>
</div>
<div class="light">
    <span >Light: </span>
    <span class="value">@Model?.Light</span>
</div>