@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Repository.Models.Plant>

<h1>Your plants: </h1>

@foreach (var plant in Model)
{
    @await Html.PartialAsync("_plant_partial",plant)
    
    <br/>
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/DataPusher.js"></script>