@model Repository.Models.Plant

<div id="@Model.PlantId">
    <div class="temperature">
        <span class="label">Temperature: </span>
        <span class="value">0</span>
    </div>
    <div class="moisture">
        <span class="label">Moisture: </span>
        <span class="value">0</span>
    </div>
    <div class="water">
        <span class="label">Water: </span>
        <span class="value">0</span>
    </div>
    <div class="light">
        <span class="label">Light: </span>
        <span class="value">0</span>
    </div>
</div>


