@using Repository.Models
@model System.Collections.Generic.IEnumerable<Repository.Models.Plant>

@{
    ViewBag.Title = "Your Plants";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@await Html.PartialAsync("_plants_partial", Model)



