@model Repository.Models.ApplicationUser;


<h2>Your Profile Description</h2>
@{
    if (Model.Plants == null)
    {
        <p>Number of Plants: 0</p>

    }
    else
    {
        <p>Number of Plants: @Model.Plants.Count</p>
    }
}
<p>Phone Number: @Model.PhoneNumber</p>
