@model IEnumerable<Repository.Plant>

<div align="center">
    <table class="table table-condensed">
        <tr>
            <th>Plant ID</th>
            <th>Temperature in Celsius:</th>
            <th>Moisture in Percents</th>
            <th>Light in numbers</th>
        </tr>
        <tr>
        </tr>
        
       

    </table>
</div>