@model IEnumerable<Repository.Models.Plant>

<div align="center">
    <table class="table table-condensed">
        <tr>
            <th>Plant ID</th>
            <th>Name</th>
            <th>Added</th>
        </tr>
        <tr>
        </tr>
        @foreach (var plant in Model)
        {
            <tr>
                <td>@plant.PlantId</td>
                <td>@plant.Name</td>
                <td>@plant.DateAdded</td>
            </tr>
        }


    </table>
</div>